.container {
  display: flex;

  & > * {
    padding: 1rem;
  }

  &__rail-left {
    background: #e2e8f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 400px;
    row-gap: 1rem;
    width: 30%;
  }

  &__rail-right {
    display: inline-block;
    flex: 1;
  }
}
